#title_container {
 display: flex;
 flex-direction: column;
}

#checkin_title {
  height: 5.5vh;
  margin: -2vh auto 4vh ;
  width: 42%;
  border-bottom: 1px solid rgb(194, 192, 192);
  font-size: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.title_box {
  display: flex;
  margin-bottom: 5px;
}

.signer {
  flex: 25%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  margin-bottom: 3%;
}

.phone {
  flex: 75%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#venue_title {
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 5%;

}

.venue_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  #venue_select {
    margin-left: 5%;
  }

  .button {
    font-size: medium;
    font-weight: 700;
    width: 50%;
    background-color: #FFCB32;
    border-radius: 30px;
    padding: 10px;
    margin: 10% auto;
    color: #1d292e;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
}
  
/* #selected_venue {
  background-color: #FFCB32;
} */


