

#weekdays {
    display: flex;
    height: 5vh;
    width: 60%;
    margin: -15px auto 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 700;
    border: 1px solid white;
    background-color: #dbebf3;
    border-radius: 15px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);


    /* centered */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */    
    text-align: center;
}

.venue_container{
    display: flex;
    height: 12vh;
    margin-bottom: 20px;
}

.venue_box, .time_box, .group_box {
    /* background-color:#dbebf3; */
    border: 1px solid rgb(255, 255, 255);
    font-size: medium;
}

.venue_box {
    flex: 27%;

    /* 居中 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */    
    text-align: center;
}

.time_box {
    flex: 25%;

    display: flex;
    flex-direction: column;
}

.group_box {
    flex: 48%;

    display: flex;
    flex-direction: column;
}

.time_option, .group_option{
    flex: 1;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 4px;

    /* 居中 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.time_option, .group_option{
    background-color:#dbebf3;
    border-radius: 15px;
}

.group_option {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: medium;
    text-align: center;
}


